nav {
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 175px;
  color: rgb(17, 182, 17);
}

figure {
  background-image: url(./images/Parts-of-a-drum-set.webp);
  background-repeat: no-repeat;
  background-position: top left;
  height: 750px;
}
figure button {
  position: absolute;
  width: 109px;
  height: 32px;
  opacity: 0;
}

#high-tom {
  left: 265px;
  top: 119px;
}
#medium-tom {
  left: 437px;
  top: 119px;
}
#crash-cymbal {
  left: 57px;
  top: 231px;
}
#hi-hats {
  left: 69px;
  top: 307px;
}
#ride-cymbal {
  left: 629px;
  top: 236px;
}
#bass-drum {
  left: 658px;
  top: 299px;
}
#snare-drum {
  left: 107px;
  top: 514px;
}
#base-pedal {
  left: 242px;
  top: 539px;
}
#stool {
  left: 408px;
  top: 539px;
}
#floor-tom {
  left: 573px;
  top: 510px;
}
#instructions {
  position: absolute;
  top: 600px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
#bass-pedal img {
  position: absolute;
  width: 200px;
  top: 650px;
  margin-left: 300px;
  opacity: 0;
  transition: all 1s;
}
